<table>
    <tr>
        <th colspan="2">Name</th>
        <td colspan="2">{{ playground.name }}</td>
    </tr>
    <tr>
        <th>min</th>
        <td>( {{ playground.minx }} , {{ playground.miny }} )</td>
        <th>max</th>
        <td>( {{ playground.maxx }} , {{ playground.maxy }} )</td>
    </tr>
    <tr>
        <th colspan="2">Corners</th>
        <th colspan="2">Run_Points</th>
    </tr>
    <tr>
        <td colspan="2">
            {% for point in playground.corners %}
                {% include "app/point_details.html" %}
            {% endfor %}
        </td>
        <td colspan="2">
            {% for point in playground.run_points %}
                {% include "app/point_details.html" %}
            {% endfor %}
        </td>
    </tr>
</table>